body {
  color: getColor("main-text");
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.title {
  color: getColor("hd-text");
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.subtitle {
  color: getColor("hd-text");
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
