/* hero */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;

  @media screen and (max-width: 768px) {
    background-color: getColor("dark-bg");
    background-position: 50% 10%;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-image-mob.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-image-mob-2x.jpg");
    }
  }

  @media screen and (min-width: 768px) {
    background-color: getColor("dark-bg");
    background-position: top;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-image-tablet.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-image-tablet-2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    background-color: getColor("dark-bg");
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-image-desktop.jpg");
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/hero-image-desktop-2x.jpg");
    }
  }

  &::before {
    background-color: getColor("hero-bg");
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  // width: 696px;
  // margin: 0 auto 30px;
  max-width: 360px;
  margin-bottom: 40px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;

  color: getColor("white-text");
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
